@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;

  /* Primary Colors */
  --color-primary: #00a3ff;
  --color-primary-content: #ffffff;

  /* Secondary */
  --color-secondary: #14b8a6;
  --color-secondary-content: #ffffff;

  /* Accent */
  --color-accent: #10b981;
  --color-accent-content: #ffffff;

  /* Neutral */
  --color-neutral: #1f2937;
  --color-neutral-content: #ffffff;

  /* Base */
  --color-base-100: #f3f4f6;
  --color-base-200: #e5e7eb;
  --color-base-300: #d1d5db;

  /* Feedback Colors */
  --color-info: #3b82f6;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}
